:root {
  --color__accent-1: #cfe8d7;
  --color__accent-2: #ebba67;
  --rhythm: 20px;
}

.visibly-hidden {
  position: absolute;
  top: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

html,
body {
  font-family: sans-serif;
  font-size: 24px;
  line-height: 1.2;
  height: 100%;
  background-color: var(--color__accent-1);
  overflow: hidden;
}

.main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient {
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color__accent-2);
  opacity: 0;
}

.circle {
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  background-color: var(--color__accent-2);
  opacity: 1;
  animation: breathe 16s infinite;
  animation-timing-function: ease-in-out;
}

.fullscreen-toggle__label {
  cursor: pointer;
  position: absolute;
  top: var(--rhythm);
  right: var(--rhythm);
  z-index: 999;
}

.fullscreen-toggle:checked ~ .main .gradient {
  opacity: 1;
  animation: breathe--fullscreen 16s infinite;
  animation-timing-function: ease-in-out;
}

.fullscreen-toggle:checked ~ .main .circle {
  opacity: 0;
  animation: none;
}

.fullscreen-toggle__label:hover,
.fullscreen-toggle:focus ~ .fullscreen-toggle__label,
.about-toggle__label:hover,
.about-toggle:focus ~ .about-toggle__label {
  text-decoration: underline;
}

.about {
  position: absolute;
  bottom: var(--rhythm);
  left: var(--rhythm);
  width: 80%;
  max-width: 800px;
  z-index: 999;
}

.about-toggle__label {
  cursor: pointer;
  position: absolute;
  top: calc(var(--rhythm) * 2.4);
  right: var(--rhythm);
  z-index: 999;
}

/* 16 sec / 4 */
@keyframes breathe {
  0% {
    transform: scale(0.2);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(0.2);
  }
}

@keyframes breathe--fullscreen {
  0% {
    transform: translateY(100%);
  }
  25% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(100%);
  }
}
